<div class="container">
  <div class="row mt-4 justify-content-center">
    <div class="col-6">
      <div class="row">
        <div class="col">
          <div class="my-4">
            <h1 class="h2 mt-4 mb-2"><strong>Jobs</strong></h1>
          </div>
        </div>
      </div>
      <% @jobs.each do |job| %>
          <div class="card my-3">
            <div class="card-header d-flex align-items-center justify-content-between">
              <strong><%= job.title %> at <%= job.user.company %></strong>
              <span class="badge bg-<%= job.status == 'open' ? 'success' : job.status == 'closed' ? 'dark' : 'info' %>">
                <%= job.status %>
              </span>
            </div>
            <div class="card-body">
              <%= job.description %>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
              <% if job.open? %>
                <small>Opened on <%= job.opened_at&.strftime("%A, %b %d") %></small>
              <% else %>
                <% if job.closed_at.present? %>
                  <small>Closed on <%= job.closed_at&.strftime("%A, %b %d") %></small>
                <% end %>
              <% end %>
              <%= link_to "Apply", new_job_apply_path(job), class: "btn btn-primary" %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
