<div class="container">
  <div class="row mt-4 justify-content-center">
    <div class="col col-md-4">
      <h1 class="h2 my-4 text-center"><strong>Update job position</strong></h1>
      <%= form_with(model: @job, url: my_job_path, class: "form") do |form| %>
        <div class="mb-3">
          <%= form.label :title, class: "form-label" %>
          <%= form.text_field :title, class: "form-control", placeholder: "Assistant to the regional manager" %>
          <% if @job.errors.has_key?(:title) %>
            <div class="invalid-feedback">
              <%= @job.errors[:title].first %>
            </div>
          <% end %>
        </div>
        <div class="mb-3">
          <%= form.label :description, class: "form-label" %>
          <%= form.text_area :description, class: "form-control", placeholder: "Describe your job position..." %>
          <% if @job.errors.has_key?(:description) %>
            <div class="invalid-feedback">
              <%= @job.errors[:description].first %>
            </div>
          <% end %>
        </div>
        <div class="mb-3">
          <%= form.label :status, class: "form-label" %>
          <%= form.select :status, Job.statuses.keys, {}, class: "form-select" %>
          <% if @job.errors.has_key?(:status) %>
            <div class="invalid-feedback">
              <%= @job.errors[:status].first %>
            </div>
          <% end %>
        </div>
        <%= form.submit "Create Job", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
