
<div class="container">
  <div class="row">
    <div class="col">
      <%= form_with(model: @job, url: new_my_job_path, class: "form") do |form| %>
        <div class="mb-3">
          <%= form.label :title, class: "form-label" %>
          <%= form.text_field :title, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= form.label :description, class: "form-label" %>
          <%= form.text_area :description, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= form.label :status, class: "form-label" %>
          <%= form.select :status, options_for_select(["Pending", "In Progress", "Completed"]), {}, class: "form-select" %>
        </div>
        <%= form.submit "Create Job", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
